/*Selector de Id*/

#tituloprincipal{
    text-align: center; 
    color:white;
    background: green;
}

/*Selector de clases*/

.parrafoVerde{
    color: green;
}

.parrafoRojo{
    color: red;
}

#barraLateral {
    position: absolute;
    top: 12%;
    left: 0;
    height: 81%;
    width: 20%;
    background-color: #8e27f6;
    color: black;
}

#contenido {
    position: absolute;
    top: 12%;
    left: 20%;
    height: 81%;
    width: 80%;
    background-color: gainsboro;
    color: black;
    overflow: auto;
}

#piePagina {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7%;
    width: 100%;
    background-color: #87f29b;
    color: black;
    text-align: center;
}

#encabezadoTabla {
    font-size: 20px;
    color: white;
    background-color: cadetblue;
}

#tablaResumen tr {
    font-size: 25px;
}

#tablaResumen tr:nth-child(odd) {
    background-color: gold;
}

#tablaResumen tr:nth-child(even) {
    background-color: coral;
}